<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Configure server</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="fastpublic/css/bootstrap.min.css">
    <link rel="stylesheet" href="fastpublic/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="fastpublic/css/ion.rangeSlider.skinHTML5.css">

    <link rel="stylesheet" href="fastpublic/css/config.css">

    <!-- VENDOR SCRIPTS -->
    <script src="fastpublic/js/jquery-3.1.1.js"></script>
    <script src="fastpublic/js/bootstrap.min.js"></script>
    <script src="fastpublic/js/ion.rangeSlider.min.js"></script>


    <!-- APPLICATION SCRIPTS -->
    <script src="fastpublic/js/config.js"></script>


  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" id="title">
          <h1>Slow Server Configuratizer ^^</h1>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <div id='here'>
            <div class='text-center'><i class="glyphicon glyphicon-refresh rotating"></i></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
